* {
	margin: 0;
  padding:0;
}
img {
	border: none;
}
html {
	/*****
		BASE FONT SIZE!!!!
	*****/
	font-size: 14.5px;
}
body {
	font-size: 1em;
	line-height: 1.3em; 
}

html, body {
	height: 100%;
	font-family:arial, sans-serif;
	afont-size: 0.8em;
	color: #565859;
  border-left: 4px solid #fff;
  border-right: 4px solid #fff;
  }
/*
  #wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	width: 100%;
  background: url(../img/v2/bg.png) repeat-x;
  background-position: 0px 130px;
  background-color: transparent;
  overflow: auto;
}
#container_therapie {
  width: 962px;
	height: 860px;
	margin-left: auto;
  margin-right: auto;
  margin-top: 31px;
	overflow: hidden;
	border: 0px solid #000;
  background: url(../img/main-bg-therapie.png) no-repeat 5px -31px;
}
#container_content{
  width: 844px;
	margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
  overflow: hidden;
  background-color: white;
  border: 4px solid #90c76c;
  min-height: 520px;
}
.img100 {
	top: 0px; 
	width:370px; 
	height: 290px;
	border-radius: 4px;
}
#wrapper_l2{
  width: 953px;
	aheight: 1050px;
	margin-left: auto;
  margin-right: auto;
  margin-top: 31px;
  padding-top: 22px;
  overflow: hidden;
  background: url(../img/v2/main-bg-shadowsonly.png) no-repeat 0px 0px;
  background-color: transparent;
  border: 0px solid yellow;
}
#wrapper_l3{
  width: 860px;
	aheight: 1050px;
	margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  background-color: white;
  border: 0px solid white;
  padding-top: 0px;

}
#container {
  width: 962px;
	height: 710px;
	margin-left: auto;
  margin-right: auto;
  margin-top: 31px;
	overflow: hidden;
	border: 0px solid #000;
  background: url(../img/main-bg.png) no-repeat;
}

#banner {
	float: left; 
	overflow: hidden; 
	width: 722px; 
	margin-top: 0px; 
	margin-left:65px;
	margin-right: auto; 
	height: 350px;
	#background-color: white !important;
}
#footer {
  width: 962px;
	height: 50px;
	margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding-top: 10px;
  text-align: center;
  color: #9c9e9f;
  border: 0px solid red;
  abackground-image: url(../img/v2/footer_shadow.png);
  abackground-repeat: no-repeat;
}
#img_home{
  width: 700px;
  margin-left:126px;
  margin-top: 35px
}
#img_left {
  display: block;
  float: left;
  width: 366px;
  height: 276px;
  margin-left:126px;
  margin-top: 55px
}

.galpic {
  display: block;
  float: left;
  margin-left: 5px;
  margin-top: 5px;
}
#pic_container {
  clear: right;
  display: block;
  float: left;
  width: 621px;
  height: 407px;
  border: 0px solid #000;
  margin-top: 11px;
}
#imgs_left {
  display: block;
  float: left;
  font-size: 12px;
  width: 271px;
  height: auto; 
  aheight: 300px;
  margin-left:65px;
  border: 0px solid #000;
}
#text {
  display: block;
  float: left;
  width: 440px;
  height: auto;
  #overflow: auto;
  border: px solid #000;
  margin-top: 0px; 
  padding-left: 30px;
  padding-right: 30px;
}

#pageHeader {
  display: block;
  float: left;
  width: 840px;
  height: auto;
  margin-top: 0px;
  padding-left: 60px;
  font-size: 18px;
  border: 0px solid blue;
  color: #565859;
  background-image: url(../img/v2/logo.png);
  background-position: 660px 50px;
  background-repeat: no-repeat;

}
#name {
  display: block;
  float: left;
  awidth: 840px;
  height: auto;
  margin-top: 40px;
  amargin-left: 60px;
  font-size: 18px;
  border: 0px solid red;
  color: #8971a3;
}


#menu {
  display: block;
  float: left;
  width: 840px;
  height: auto;
  margin-top: 20px;
  margin-left: -10px;
  font-size: 12px;
  border: 0px solid red;
}
#menu .selected {
	color:#5bac26;
}



#menu a:link {display:block;float:left;padding: 0px 10px 0px 10px; border-right: 1px dotted #707173; text-decoration: none; color: #707173;}
#menu a:visited {text-decoration: none; color: #707173;}
#menu a:active {text-decoration: none; color: #707173;}
#menu a:hover {text-decoration: none; color: #5bac26;}

#footer a:link {text-decoration: none; color: #9c9e9f;}
#footer a:visited {text-decoration: none; color: #9c9e9f;}
#footer a:active {text-decoration: none; color: #9c9e9f;}
#footer a:hover {text-decoration: none; color: #5bac26;}

*/
a:link {text-decoration: none; color: #1a171b;}
a:visited {text-decoration: none; color: #1a171b;}
a:active {text-decoration: none; color: #1a171b;}
a:hover {text-decoration: underline; color: #1a171b;}



h1 {
  font-size: 1em; /* DONE */
  font-weight: normal;
  color: #71b43f;
  aline-height: 3em;
  margin-bottom: 10px;
  border: 0px solid red;
}

h2 {
  font-size: 1em; /* DONE */
  font-weight: normal;
  color: #71b43f;
  line-height: 2em;
}


.text > *{
	font-size: 0.785em;
}
.text > div > h1{
	font-size: 1.4em;
}

.text  td {
	padding: 15px;
	vertical-align: top;
	afont-size: 0.785em; /* DONE */

}

.middle .flex-control-paging li a {
	width: 7px;
	height: 7px;
}

.nowrap {
	white-space: nowrap;
}





* { margin: 0; padding: 0; }

	abody {
		background: url(../img/v2/bg.png) repeat-x;
		background-position: 0px 80px;
	}
	.page {
		width: 100%; 
		height: 100%;
		overflow: visible; 
		border: 0px solid red; 
		min-width: 750px;
	}
	.topmargin {
		padding-top: 40px; 
		border: 0px solid red; 
		amin-height: 600px;
	
		background: url(../img/v2/main-bg-shadow-top.png) no-repeat;
		background-position: center top 20px;
		background-color: white;
		min-width:730px;

	}
	.page_shadow_left {
		width: 5%; 
		border: 0px solid blue; 
		float:left; 
		height: 100%;
		background: url(../img/v2/main-bg-shadow-left.png) no-repeat;
		background-position: right 5px top 55px;
		background-color: white;
		min-height: 550px;
	}
	.page_content{
		background-color: white;
		width: 90%; 
		float:left;
		height: 100%;
		min-height: 550px;
		min-width: 730px;
		amax-width: 850px;
	}
	.page_shadow_right {
		width: 5%; 
		border: 0px solid green; 
		float: left; 
		height: 100%;
		min-height: 550px;
		background: url(../img/v2/main-bg-shadow-right.png) no-repeat;
		background-position: left 5px top 55px;
		background-color: white;
	}

	.page_header {
		display: block;
		width: auto;
		amin-height: 100px;
		margin-top: 0px;
		margin-bottom: 10px;
		apadding-left: 60px;
		border: 0px solid blue;
		color: #565859;
		padding-left: 50px;

		background-image: url(../img/v2/logo.png);
		background-repeat: no-repeat;
		background-position: right 35px top 10px;
		min-width:730px;	}

	.page_header_name {
		display: block;
		float: left;
		width: 100%;
		height: auto;
		amargin-top: 40px;
		amargin-left: 60px;
		font-size: 1.285em; /* DONE */
		border: 0px solid red;
		color: #8971a3;
		line-height: 1.4em;
	}

		



.page_header_menu {
  display: block;
  float: left;
  width: 80%;
  height: auto;
  margin-top: 20px;
  amargin-left: -10px;
  font-size: 0.857em; /* DONE */
  border: 0px solid red;
  line-height: 20px;
}
.page_header_menu .selected {
	color: #5bac26;
}


.page_header_menu a:link {display:block;float:left;padding: 0px 10px 0px 0px; margin-right: 10px; border-right: 1px dotted #707173; text-decoration: none; color: #707173;}
.page_header_menu a:visited {text-decoration: none; color: #707173;}
.page_header_menu a:active {text-decoration: none; color: #707173;}
.page_header_menu a:hover {text-decoration: none; color: #5bac26;}


.page_content_left {
	float:left;
	border: 0px solid blue;
	width: 480px;
	height: 100%;
	padding: 0px;
}
.page_content_left.wide{
	width: 580px;
}
.page_content_fullwidth {
	afloat:left;
	border: 0px solid blue;
	width: 99%;
	height: 100%;
	padding: 0px;
}

.page_content_fullwidth > .left {
	float: left;
	width: 40px;
	border: 0px solid red;
			background: url(../img/v2/content-bg-shadow-left.png) no-repeat;
		background-position: right 5px top 0px;
		background-color: white;
	height: 290px;

	}
.page_content_fullwidth > .middle{
	margin-left: 40px;
	margin-right: 40px;
	border: 0px solid red;
	min-height: 250px;

}
.page_content_left.wide .middle{
	width: 480px;
}
.page_content_fullwidth > .right {
	float: right;
	width: 40px;
			background: url(../img/v2/content-bg-shadow-right.png) no-repeat;
		background-position: left 5px top 0px;
		background-color: white;
		abackground-size: 100%;
		border: 0px solid blue;
	height: 290px;
}
.page_content_left > .left {
	float: left;
	width: 10%;
	border: 0px solid red;
			background: url(../img/v2/content-bg-shadow-left.png) no-repeat;
		background-position: right 5px top 0px;
		background-color: white;
	height: 290px;

	}
.page_content_left > .middle{
	float: left;
	width: 370px;
	border: 0px solid red;
	min-height: 250px;

}
.page_content_left > .right {
	float: left;
	width: 40px;
			background: url(../img/v2/content-bg-shadow-right.png) no-repeat;
		background-position: left 5px top 0px;
		background-color: white;
		abackground-size: 100%;
		border: 0px solid blue;
	height: 290px;
}
.page_content_right > .right {
	float: right;
	width: 40px;
			background: url(../img/v2/content-bg-shadow-right.png) no-repeat;
		background-position: left 5px top 0px;
		background-color: white;
		abackground-size: 100%;
		border: 0px solid blue;
	height: 290px;
}
.page_content_right > .text {
	padding-top: 30px;
	margin-right:50px;
}

.page_content_right {
	border: 0px solid blue;
	margin-left: 470px;
	padding-top: 0px;
}

.imgs_left {
  display: block;
  float: left;
  width: 271px;
  height: auto; /*276px;*/
  aheight: 300px;
  margin-left:65px;
  border: 0px solid #000;
}

.footer {
	font-size: 0.785em; /* DONE */

  width: 100%;
	height: 50px;
	margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  padding-top: 20px;
  text-align: center;
  color: #9c9e9f;
  border: 0px solid red;
  background-image: url(../img/v2/footer_shadow.png);
  background-repeat: no-repeat;
  background-position: center top;
}

.greenframe {
	padding-top: 40px; 
	border: 4px solid #90c76c; 
	width: auto; 
	min-height: 500px;
}

.banner {
	border: 0px solid red;
	overflow: hidden; 
	width: 100%; 
	height: 300px;
}


.footer a:link {text-decoration: none; color: #9c9e9f;}
.footer a:visited {text-decoration: none; color: #9c9e9f;}
.footer a:active {text-decoration: none; color: #9c9e9f;}
.footer a:hover {text-decoration: none; color: #5bac26;}


.dots {
	abackground-image: url(../img/v2/dot.png);
	abackground-repeat: repeat-x;
	background-color: transparent;
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 0px;
	margin-bottom: 20px;
	border-bottom: 1px dotted #707173; /*: 1px solid red;*/
	height: 1px;
	width: auto;
}